* {
    margin: 0;
    padding: 0;
}

.primary-section {
    background: url(images/Banner\ Image.png);
    height: 600px;
    max-width: 1750px;
    margin-right: 140px;
    margin-left: 140px;
    margin-top: 60px;
    background-image: 100%;
    border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    




}

.text-section {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 200px;
}

.medium-section {
    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top-header {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}