* {
    padding: 0;
    margin: 0;
    font-family: Merriweather;
}

/* This is header section */
.header-section {

    padding-top: 50px;
}



.background-image {
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(images/Banner\ Image.png);
    background-position: center;
    background-size: 100%;
    height: 750px;
    width: 1550px;
    margin: 0 160px 50px 160px;
    background-repeat: no-repeat;
    border-radius: 16px;


}

.medium-header {
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top:220px;
}



.top-header {

    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    padding-top: 45px;

    /* 131.944% */

}

.section-part-2 {
    text-align: center;

}

#off-section {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 50px;
}

#holyday-section {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 10px;
}

#all-cate {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 40px;
}

#img-section {
    padding-bottom: 70px;
}

.midnight-section {
    background: url(images/Vectorrr.png);
    width: 1600px;
    height: 800px;

    margin-left: 200px;
    background-repeat: no-repeat;


}

.section-part-3 {
    display: flex;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 650px;
    width: 1650px;
    margin-bottom: 150px;

    margin-right: 126px;
    margin-left: 126px;
    justify-content: center;
    border-radius: 5px;
    

}

.heading-section {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    padding-top: 120px;
    padding-left: 100px;
}

.main-paragraph {
    padding-top: 20px;
    padding-left: 100px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */

}

.img-newyear {
    text-align: center;
    justify-content: center;
    margin: 150px;
    
}

.btn-man {
    margin-left: 100px;
    margin-top: 50px;
    background-color: transparent;
    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: 0;

}

.hotel-room {
    text-align: center;

}

.new-park {
    padding-bottom: 20px;
    padding-top: 200px;
}

.new-park1 {
    padding-bottom: 20px;
}

.new-park2s {
    padding-bottom: 30px;
}

.btn-man2 {}

.main-rom {
    border: 0px solid red;
    height: 750px;
    width: 1650px;
    margin-left: 140px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 5px;
}

.place {
    color: #F00;
}

.btn-man2 {
    padding: 16px 32px;
    background-color: #F00;
    border-radius: 8px;
    color: white;
    border: 0;
    font-size: 20px;
    text-transform: uppercase;
}

.section-part-4 {
    display: flex;
    margin-left: 120px;
    margin-right: 120px;

}

.best-offer {
    padding-top: 100px;
    padding-bottom: 20px;
    color: #F00;

    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.comeing-soon {
    padding-bottom: 20px;
    color: #070211;

    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;

}

.dolor-paragraph {
    
    font-size: 20px;
    font-family: Inter;
    text-align: center;
    padding-left: 20px;
    
}

.img-ellipse {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 25px;
    margin: 20px;
    margin-left: 200px;


}

.newyear-2024 {
    text-align: center;
    padding-top: 100px;
    color: #F00;

    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 100px;
}

.dolor-paragraph {
    text-align: center;
    color: rgba(7, 2, 17, 0.60);
    padding-left: 50px;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    margin-left: 50px;
    text-align: center;
}

.eget {
    padding-left: 500px;
}

.group-96 {
    margin-left: 200px;
    margin-top: 40px;
}

.section-5 {

    margin-left: 15%;
    margin-top: 120px;
    margin-bottom: 52px;

}

.best-gift {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 16px;
}

.awesome {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.sit-paragraph {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    margin-bottom: 20px;
}

.section-img {
    margin-left: 15%;
    margin-right: 140px;

    margin-bottom: 50px;

}

.img-sec {
    padding: 10px;

}

.section-6 {
    text-align: center;
    
    padding-bottom: 80px;
    padding-top: 80px;
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 80px;
}

.img-section-1 {
    padding-bottom: 40px;

}

.webletter {
    padding-bottom: 22px;
}

.paragraph-section-1 {
    padding-bottom: 48px;
}

.email-btn {
    padding: 25px 477px 25px 30px;
    background: #FFF;
    border: 0px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.last-btn {
    background: #F00;
    padding: 24px 56px 24px 56px;
    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

footer {
    background-color: black;
}

.footer-section {
    display: flex;
    border-bottom: 1px solid rgb(38, 32, 32);
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */

}

.footer-title {
    text-align: center;
    margin-top: 120px;
    margin-left: 450px;
    padding-bottom: 50px;

    color: #FFF;

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */

}

.footer-title-2 {
    text-align: center;
    margin-top: 120px;
   
    margin-left: 30%;
    color: #FFF;

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */

}

.footer-img {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px  solid;
    border-bottom: 1px solid rgb(38, 32, 32);
    


}

.img-footer {
    padding-left: 20px;

}

.last-footer {
    display: flex;
    
}

.right-reserved {
    color: white;
    padding-left: 400px;
    color: #FFF;

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 120px;
    padding-top: 50px;
}

.unsubscribe {
    color: white;
    color: #FFF;

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 800px;
    padding-top: 50px;

}